$primary: #cb095a;

@import 'node_modules/bootstrap/scss/bootstrap';

.card {
    border: 1px solid var(--bs-black);
    box-shadow: 2px 2px var(--bs-black);
}

.btn {
    box-shadow: 3px 3px var(--bs-black);
    transform: translate(-3px, -3px);
    transition: unset;
    &:disabled {
        box-shadow: unset;
        transform: unset;
    }
    &:active {
        box-shadow: 1px 1px var(--bs-black);
        transform: translate(-1px, -1px);
    }
}

.alert {
    border-width: 2px;
}

.navbar {
    border-bottom: 3px solid var(--bs-black);
}

.navbar a {
    &:hover {
        text-shadow: 2px 2px var(--bs-black);
        transform: translate(-2px, -2px);
    }
}

.no-outline {
    &:focus {
        outline: none;
    }
}

.editor-base {
    height: calc(100vh - 75px)
}

.editor-error {
    border: 0;
    border-bottom: 1px solid var(--bs-danger)
}

.toast-wrapper {
    right: 20px;
    top: 75px;
    z-index: 1;
    max-width: 200px;
    transition: opacity 0.3s ease
}

code {
    border: 1px solid var(--bs-black);
    border-radius: 3px
}

p.markdown img {
    max-width: 100%;
}